.wrapper {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
}

.handwritten {
  font-family: 'Just Another Hand', cursive;
}

.class {
  grid-area: class;
}

.race {
  grid-area: race;
}

.alignment {
  grid-area: alignment;
}

.exp {
  grid-area: exp;
}
